html{
    background-image: url(plaide.jpg);
    background-position: center;
    background-size: cover;
}
body{
    width: auto;
    height: auto;
    align-items: justify;
}

.gridformat{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10px;
}
.divider{
    background-color: #700143;
    color: #cfd78c;
    text-align: justify;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 10%;
    margin-bottom: 10%;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}
.section{
    background-color: #700143;
    color: #cfd78c;
    font-size: 12px;
    text-align: justify;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10%;
    margin-bottom: 10%;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}
.header{
    background-color:#f9f6bd;
    color:#700143;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10%;
    margin-right: 10%;
    border-radius: 30px;
    box-shadow: 0 0 15px #700143;
    max-width: 700px;
    max-height: fit-content;
    overflow: auto;
}